
.dropDown {
    height:25px;
    border-radius:5px;
}
.main-grid-rows {
    margin-top:50px;
}
.img-grid {
    margin-left:40px;
    margin-bottom: 20px;
} 
.heading-mesh { 
    min-height: 60px; 
    max-height: 50px;
    color:aliceblue;
    text-align:center;
}
.body-mesh {
   max-height: 350px; 
   min-height:350px; 

}
hr {
    margin:2px;
}