@model PhotosStore.Domain.Entities.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    
       <h2> @Model.OrderID </h2>
       <h1>@Model.Adress</h1> 
    
</div>
</body>
</html>