@model IEnumerable<string>
<div class="panel panel-info">
    <div  class="panel-heading">
        <h4>
            <b style="text-align:center; display:block;">
                Категории товаров
            </b>
        </h4>
    </div>

    <div class="panel-body">

        @Html.ActionLink("Главная", ViewBag.Grid=="list" ? "List" : "Mesh", "PhotoTechnique", null, 
        new { @class = "btn btn-block btn-default btn-lg" })
        <hr />

    @foreach (var link in Model)
    {
            @Html.RouteLink(link, new
           {
               controller = "PhotoTechnique",
               action = ViewBag.Grid == "list" ? "List" : "Mesh",
               category = link,
               page = 1
           }, new { @class = "btn btn-block btn-default btn-md" + (link == ViewBag.SelectedCategory ? " btn-primary" : "") })
                <hr />
    }
    </div>
</div>