@{ 
    List<SelectListItem> list = new List<SelectListItem>
    {
        new SelectListItem { Text = "По возрастанию", Value = "Up" },
        new SelectListItem { Text = "По убыванию", Value = "Down" }
    };

    List<SelectListItem> sortList = new List<SelectListItem>
    {
        new SelectListItem {Text = "А-Я", Value = "order" },
        new SelectListItem { Text = "Я-А", Value = "descending" }
    };

}
<div class="panel panel-info">
    <div class="panel-body">
        <div class="pull-right">
            <a class="btn-sm btn-info" id="List"  href="/PhotoTechnique/List"><span class="glyphicon glyphicon-list"></span> Список</a>
            <a class="btn-sm btn-info" id="Mesh"  href="/PhotoTechnique/Mesh"><span class="glyphicon glyphicon glyphicon-th"></span> Сетка</a>
        </div>
    </div>
</div>

